<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .gallery img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .gallery a {
        display: block;
        width: calc(33.333% - 10px);
        /* Three columns */
        margin-bottom: 10px;
    }

    .gallery img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
</style>

<div class="gallery">
    {{ range .Page.Params.images }}
      <a href="{{ .src }}" target="_blank">
        <img src="{{ .thumb }}" alt="{{ .alt }}">
      </a>
    {{ end }}
  </div>