[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "themes/mag-website-private"]
	path = themes/mag-website-private
	url = https://github.com/dave-borg/mag-website-private.git
