# Password protect the members-only directory
AuthType Basic
AuthName "Restricted Area"
AuthUserFile /home/magcomau/.htpasswds/public_html/.htpasswd
Require user mag-member

# Deny direct access to all PDF files
<FilesMatch "\.pdf$">
  Require user mag-member
</FilesMatch>